* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#topo_loja {
    background-color: #a90000;
    color: #faebd7;
    padding: 20px;
    text-align: center;
}

#bt_menu,
#label_menu {
    display: none;
}

#menu ul {
    list-style: none;
    margin-top: 10px;
}

#menu li {
    display: inline-block;
    margin: 0 10px;
}

#menu a {
    color: #faebd7;
    text-decoration: none;
    font-weight: bold;
}

.titulo_secao {
    text-align: center;
    margin-top: 40px;
    color: #faebd7;
}

/*Estrutura inicial GRID*/

.Vitrine_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    /*Aredonda a borda*/
    text-align: center;
}

/*Definir a visualização do card */

.card img {
    max-width: 100%;
    /*Ocupar somente o card*/
    height: auto;
    border-radius: 4px;
}

.preco {
    display: block;
    color: #a9000092;
    font-weight: 600;
    /*Aumemtar a especura da fonte*/
    margin: 10px;
    /*Afasta um pouco as duas fontes*/
}

.bt_pedido {
    background: #faebd78d;
    color: #8e867c;
    border: none;
    /*Tira tudo do botão*/
    padding: 10px;
    width: 100%;
    cursor: pointer;
    /*Ele vai levantar a mãozinha fazendo ser clicavel*/
}

#rodape {
    background-color: #a90000;
    color: #faebd7;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}

@media screen {
    #topo_loja h1 {
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }
}

/*Tela de Tablet*/

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .Vitrine_grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*Tela de Celuar*/

@media screen and (max-width: 600px),
(orientation: portrait) {
    #label_menu {
        display: block;
        font-size: 2.5rem;
        color: #faebd7;
        cursor: pointer;
        margin-top: 16px;
    }

    #menu ul{
        display: none;
    }

    #bt_menu:checked~#menu ul {
        display: block;
        padding: 10px 0;
    }

    .Vitrine_grid {
        grid-template-columns: 1fr;
    }

    .desc {
        display: none;
    }

    #menu li {
        display: block;
        margin: 15px 0;
        border-bottom: 10px solid #faebd7;
        padding-bottom: 10px;

    }

}

@media not screen {

    #menu,
    .bt_pedido,
    #label_menu,
    #bt_menu {
        display: none;
    }


}